//variables
$background-color-pagination: #666;


.page-nav {
  margin: 0 auto;
  display: table;
  width: 100%;
  padding-bottom: 20px;
  
  #prev{
    float: left;
  }
  
  #next{
    float: right;
  }
  
  a{
    text-decoration: none;
    padding:3px;
    border:1px solid #ccc;
    width:20px;
    height:20px;
    -ms-display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $background-color-pagination;
    transition: all .3s ease;
    
    &:hover{
      color:#fff;
      background-color: $background-color-pagination;
    }
  }
  
  .page-list {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    
    .page-item {
      display: inline-block;
      
      &.nav-active a{
        color: $color-white;
        background-color: $background-color-pagination;
      }
      
    }
    
  }
  
}

@include if-is-small-screen {
  .page-nav .page-item {
    a{
      display: none;
    }
    
    &.nav-active {
      a{
        display: flex;
      }
    }
    
  }
  
}