// Variables
$navbar-background-color: $color-primary;
$navbar-text-color: $color-white;
$navbar-title-font: $titles-font-family;


.web-header {
    background: $navbar-background-color;
    padding: 10px;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    font-family: $navbar-title-font;
    justify-content: space-between;

     @include if-is-medium-screen {
         height: 90px;
     }

    #logo {
        margin-top: 15px;
        margin-left: 10px;
        float: left;
        width: 10%;
        height: 35px;
        background: url('../src/img/menuIcon.png') no-repeat;
        display: flex;

        @include if-is-medium-screen {
            width: 40px;
        }

    } 

    #web-title {
        margin-top: 20px;
        margin-left: 5px;
        height: 40px;
        &:hover { cursor: pointer; }
    }

    .navbar {
        float: right;
        padding: 10px;

        @include if-is-medium-screen {
            width: 80%;
        }

        #menu-icon {
            float: right;
            width: 40px;
            height: 40px;
            background: url('../src/img/img-menu.png');

             @include if-is-medium-screen {
                display: none;
            }
        }

        a:hover#menu-icon {
            background-color: #444;
            border-radius: 4px 4px 0 0;

        }

        .navbar-list {
            margin-top: 40px;
            list-style: none;
            display: flex;
            flex-direction: column;
            display: none;
            
            @include if-is-medium-screen {
                display: flex;
                flex-direction: row;
                float: right;
                margin-top: 20px;

                .inp-search {
                    margin-top: -10px;
                }
            }

            .navbar-item {
                display: flex;
                flex-direction: column;
                float: left;
                color: $navbar-text-color;
                margin-bottom: 7px;

                @include if-is-medium-screen {
                    margin-left: 20px;
                }

                input[type=search] {
                    box-sizing: content-box;
                    background: $color-white url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
                    border: solid 1px #ccc;
                    padding: 9px 10px 9px 32px;
                    width: 50px;
                    border-radius: $border-radius-default;
                    transition: all .5s;
                }
                input[type=search]:focus {
                    background-color: #fff;
                    border-color: $color-could-sail;
                    box-shadow: 0 0 5px rgba(109, 207, 246, .5);
                }

                .searcher input[type=search] {
                    width: 15px;
                    padding-left: 10px;
                    color: transparent;
                    cursor: pointer;
                }
                .searcher input[type=search]:focus {
                    width: 130px;
                    padding-left: 35px;
                    color: #000;
                    background-color: #fff;
                    cursor: auto;
                }
            }
        }

    }

}

  